<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:context="http://www.springframework.org/schema/context"  
    xmlns:mvc="http://www.springframework.org/schema/mvc"  
    xmlns:tx="http://www.springframework.org/schema/tx"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd  
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">  
  
    <!-- 引入db.properties -->  
    <context:property-placeholder location="classpath:db.properties"/>  
  
    <!-- 配置数据源c3p0 -->  
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">  
        <property name="user" value="${uname}"></property>  
        <property name="password" value="${upass}"></property>  
        <property name="jdbcUrl" value="${url}"></property>  
        <property name="driverClass" value="${driver_class}"></property>  
          
        <!-- 初始化池子大小 -->  
        <property name="initialPoolSize" value="${initPoolSize}"></property>  
          
        <!-- 池子最大数 -->  
        <property name="maxPoolSize" value="${maxPoolSize}"></property>  
    </bean>  
      
    <!-- 配置SqlSessionFactory -->  
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">  
        <!-- 01.引入数据源 -->  
        <property name="dataSource" ref="dataSource"></property>  
        <!-- 02.加载MyBatis配置文件 -->  
        <property name="configLocation" value="classpath:myBatisConfig.xml"></property>  
        <!-- 03.加载MyBatis映射文件 -->  
        <property name="mapperLocations" value="classpath:com/fendo/entity/*.xml"></property>  
    </bean>  
      
      
    <!-- 配置Dao接口的两种方法: 1.单个MapperFactoryBean  2.包里面的MapperScannerConfigurer-->  
      
    <!-- 配置PersonDao -->  
    <!-- <bean id="personDao" class="org.mybatis.spring.mapper.MapperFactoryBean">  
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>  
          
        <property name="mapperInterface" value="com.zking.dao.PersonDao"></property>  
    </bean> -->  
      
    <!-- 配置整个包中所有的Dao接口 -->  
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">  
        <property name="basePackage" value="com.fendo.dao"></property>  
    </bean>  
      
</beans> 